.pokemon {
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 10px;
  height: 180px;
  margin: 5px;
  width: 125px;
  &--img {
    padding: 7px;
  }
  &--title {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 14px;
    padding: 5px;
    text-transform: capitalize;
  }
  &--btns {
    display: flex;
    justify-content: flex-start;
  }
  &--btn {
    border-radius: 5px;
    background-color: rgb(134, 125, 125);
    color: antiquewhite;
    margin: 10px 0 0 7px;
    text-align: left;
  }
}
